@media screen and (max-width:991px){
    .portfolio-section .portfolio-item,
    .service-section .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media screen and (max-width:767px){
    .contact-section .w-50,
    .contact-section .contact-item,
    .portfolio-popup .description,
    .portfolio-popup .info,
    .portfolio-section .portfolio-item,
    .service-section .service-item,
    .about-section .skills .skill-item,
    .about-section .about-img,
    .about-section .about-info,
    .home-section .home-text, 
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-section .submit-btn,
    .home-section .home-text{
        order: 2;
        text-align: center;
    }
    .home-section .full-screen{
        padding: 100px 0;
    }
    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 350px;
    }
    .effect-3{
        margin-left: -60px;
    }
    .effect-4{
        left: 22%;
    }
    .effect-5{
        right: 20%;
        top: 21%;
    }
    .about-section .about-img{
        padding-bottom: 30px;
    }
    .about-section .timeline .timeline-item:nth-child(odd){
        padding-right: 15px;
        text-align: center;
        padding-left: 75px;
    }
    .about-section .timeline .timeline-item:nth-child(even) {
        padding-left: 75px;
    }
    .about-section .timeline::before {
        left: 35px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .icon {
        right: auto;
        left: -60px;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon {
        left: -60px;
    }
    .about-section .timeline .timeline-item{
        margin-bottom: 40px;
    }
    .about-section .timeline .timeline-item:last-child{
        margin-bottom: 0;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .timeline-inner-item::before {
        left: -30px;
        right: auto;
    }
}
@media screen and (max-width:576px){
    .home-section .home-img .img-box{
        max-width: 260px;
    }
    .home-section .home-text h2,
    .home-section .home-text h2 span{
        font-size: 40px;
        max-width: 300px;
    }
    .home-section .home-text h2::after{
        width: 15px;
    }
    .about-section .skills .skill-item .progress-bar span{
        margin-left: 145px;
    }
    .effect-4 {
        left: 15%;
        top: 13%;
    }
    .effect-5 {
        right: 7%;
        top: 42%;
    }
}